@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply bg-dark-900 text-white;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-dark-600 rounded-full;
}
